@keyframes div-animation {

    0% {
        transform: translateY(300px);
    }
    25% {
        transform: translateY(0px);
    }
    50% {
        transform: translateX(300px);
    }
    75% {
        transform: translate(300px, 300px);
    }
    100% {
        transform: translate(0px, 300px);
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.div-container {
    height: 400px;
    width: 400px;
    background-color: beige;
}

.div-move {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: red;
    animation: div-animation 10s linear infinite;
}